#header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-family: 'Merriweather Sans';
  box-shadow: rgba(0, 0, 0, 0.17) 0px 3px 5px;

  background-color: #1f2937;
  /* new code */
  /* margin-bottom: 50px */

}

#login{
  background-color: #cf583a;
  padding: 7px 13px;
  border-radius: 3px;
}

#register{

  background-color: #134074;
  border-radius: 3px;
  padding: 7px 13px;
}

#header_1 {
  margin-right: auto;
}

#navbar {
  min-width: 30%;
}

#navbar_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#navbar_none {
  display: none;
}

#navbar_list li a {
  padding-bottom: 4px;
  position: relative;
  text-decoration: none;
  font-weight: 600;
  color: #fafaff;
  font-family: 'ibm plex sans';
  font-weight: 600;
}

.navbar_link::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #fafaff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navbar_link:hover::before{
  transform-origin: left;
  transform: scaleX(1);
}

@media screen and (max-width: 767px) {
  #header {
    display: block;
    padding: 0;
   height: auto;
  }

  #header_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 15px;
  }

  #navbar {
    width: 100%;
    /* min-height: 85vh; */
    height: auto;
    padding: 10px 20px;
  }

  #navbar_list {
    display: block;
    width: 100%;
  }

  #navbar_list li{
    padding: 10px 0;
    /* margin-bottom: 5px; */
  }

  #login{
    margin-bottom: 5px;
  }

  #navbar_list li a {
    font-family: 'ibm plex sans';
    font-weight: 600;
    padding-left: 4px;
  }

}

@media screen and (min-width: 768px) {
  #times {
    display: none;
  }

  #bar {
    display: none;
  }

  #navbar_none {
    display: block;
  }

  #navbar_list {
    column-gap: 25px;
  }

  /* #navbar_list li {
    padding: 5px;
  } */
}

@media screen and (min-width: 900px) {
  #navbar_list {
    column-gap: 35px;
  }
}